#main{
    text-align: center;

}
#main {
    position: relative;
    height:100vmax;    

}

#main::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(https://wallpaperaccess.com/full/1495216.jpg) ;
    background-size: cover;
    opacity: 0.5;
    content: "";
    z-index: -1;
    
}
.main-container{
    /* background-color:rgba(0, 0, 0, 0.5); */
    
}